# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Popular Languages in Data Science
- Common Libraries in Data Science
- Tools used in Data Science
- Examples of arithmetic operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Weka

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|TensorFlow|
|Jupyter Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Neha Adkar